#aboutUsContainer {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;

    position: relative;
}

/* for flexslider with images */
#aboutUsImg {
    position: absolute;
    left: 10%;
    top: 10%;

    width: 35%;
    height: 80%;

    margin: 0;
    border: solid 0.1px black;

    background-color: transparent;
    z-index: 50;
}

#aboutUsImg img{
    position: absolute;

    border: white solid 5px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

#aboutUsImg11{ left: -100%; top:   20px; width: 60%; opacity: 0}
#aboutUsImg12{ left:  100%; top:   70px; width: 50%; opacity: 0}
#aboutUsImg13{ left:   10%; top:  800px; width: 80%; opacity: 0}

#aboutUsImg21{ left:   -5%; top: -200px; width: 25%; opacity: 0}
#aboutUsImg22{ left:   40%; top:  800px; width: 50%; opacity: 0}
#aboutUsImg23{ left:  100%; top:    0px; width: 80%; opacity: 0}
#aboutUsImg24{ left: -100%; top:  190px; width: 50%; opacity: 0}

#aboutUsImg31{ left: 110%; top: 50px; width: 60% }
#aboutUsImg32{ left: -80%; top: 175px; width: 50% }
#aboutUsImg33{ left: 110%; top: 285px; width: 75% }

#aboutUsImg41{ left: 0%; top: -100px; width: 50% }
#aboutUsImg42{ left: 100%; top: 110px; width: 45% }
#aboutUsImg43{ left: -50%; top: 220px; width: 70% }

#aboutUsDesc {
    position: absolute;
    right: 70px;
    top: 7%;

    width: 400px;
    height: 80%;

    margin: 0;
    padding: 2%;

    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
    z-index: 100;

    background-color: rgba(255, 255, 255, 0.7);
}

#aboutUsDescControlNav {
    position: absolute;
    top: 12%;
    width: 92%;
    height:7%;
    display: flex;
}

#aboutUsDescControlNav .aboutUsDescControlNavEl{
    flex-grow: 1;
    font-size: 0.7em;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutUsDescControlNav .aboutUsDescControlNavEl:hover{
    background: white;
}

#aboutUsDescControlNav input:checked+.aboutUsDescControlNavEl{
    background-color: rgba(107, 107, 107, 0.7);
    color: white;
}

#aboutUsDesc .flexslider{
    position: absolute;
    bottom: 40px;
    left: 5%;
    height: 70%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

#aboutUsContainer > img#aboutUsBg{
    position: absolute;
    height: 75%;
    bottom: 0;
    z-index: 10;
}
#aboutUsContainer > img#aboutUsBgReverse{
    position: absolute;
    height: 75%;
    top: 0;
    right: 0px;
    z-index: 10;
}