#aboutUsContainer {
    /* background-color: rgb(250, 244, 225); */
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;

    position: relative;
}

/* for flexslider with images */
#aboutUsImg {
    position: absolute;
    left: 10%;
    top: 10%;

    width: 35%;
    height: 80%;

    margin: 0;
    border: solid 0.1px black;

    background-color: transparent;
    z-index: 50;
}

#aboutUsImg img{
    position: absolute;

    border: white solid 5px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

#aboutUsImg11{ left: -100%; top:   20px; width: 60%; opacity: 0}
#aboutUsImg12{ left:  100%; top:   70px; width: 50%; opacity: 0}
#aboutUsImg13{ left:   10%; top:  800px; width: 80%; opacity: 0}

#aboutUsImg21{ left:   -5%; top: -200px; width: 25%; opacity: 0}
#aboutUsImg22{ left:   40%; top:  800px; width: 50%; opacity: 0}
#aboutUsImg23{ left:  100%; top:    0px; width: 80%; opacity: 0}
#aboutUsImg24{ left: -100%; top:  190px; width: 50%; opacity: 0}

#aboutUsImg5{ left: -100%; top: 200px; }
#aboutUsImg6{ left: 40%; top: -300px; }

#aboutUsDesc {
    position: absolute;
    right: 50px;
    top: 7%;

    width: 400px;
    height: 80%;

    margin: 0;
    padding: 2%;

    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
    z-index: 100;

    background-color: rgba(255, 255, 255, 0.7);
}

#aboutUsDesc .flexslider{
    height: 83%;
    /* background-color: rgba(255, 255, 255, 0.6); */
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
}

#aboutUsContainer > img#aboutUsBg{
    position: absolute;
    height: 75%;
    bottom: 0;
    z-index: 10;
}
#aboutUsContainer > img#aboutUsBgReverse{
    position: absolute;
    height: 75%;
    top: 0;
    right: 0px;
    z-index: 10;
}