#newComersContainer{
    width: 100%;
    height: 100%;

    position: relative;
    /* background: #fcecfc;
    background: -moz-linear-gradient(top, #fcecfc 0%, #f9cceb 69%, #ffb2e6 100%);
    background: -webkit-linear-gradient(top, #fcecfc 0%,#f9cceb 69%,#ffb2e6 100%);
    background: linear-gradient(to bottom, #fcecfc 0%,#f9cceb 69%,#ffb2e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ffb2e6',GradientType=0 ); */

    background-color: rgba(0, 0, 0, 0.4);
}

#newComersBills {
    position: absolute;
    left: 10%;
    top: 7%;

    width: 30%;
    height: 80%;

    margin: 0;
    background-color: transparent;
    z-index: 50;
    border: none;
}

#newComersBills img{
    width: 100%;
    margin: 0;
    left: 0px;
    top: 0px;
}

#newComersDesc{
    position: absolute;
    right: 50px;
    top: 7%;

    width: 400px;
    height: 80%;

    margin: 0;
    padding: 2%;

    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
    z-index: 100;
    border-radius: 5px;

    background-color: rgba(255,255,255,0.5);
}

#sakura1{
    position: absolute;
    width: 100px;
    bottom: 10px;
    left: 20px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#sakura2{
    position: absolute;
    width: 150px;
    bottom: 50px;
    right: 30px;
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
}