#sidebarContainer{
    position: fixed;
    display: flex;

    top: 150px;
    left: 0px;
}

#sidebarContainer #sidebar{
    position: absolute;
    width: 65px;
    /* background-color: white; */
    /* overflow: hidden; */
    border-radius: 5px;
}

#sidebarContainer .sidebarElem{
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    width: 65px;
    height: 2em;
    left: -5px;
    padding: 0.5em 1em;

    line-height: 2em;
    border-radius: 5px;

    text-align: left;
    font-size: 0.7em;
    cursor: pointer;
}

#sidebarContainer .sidebarElem:hover{
    background-color: rgba(255, 255, 255, 1);
}