#sidebar2Container {
    position: absolute;
    width: 450px;
    height: 100%;
    right: -400px;
    top: 0px;
    min-height: 500px;

    /* background-color: rgba(121, 121, 121, 0.5); */
    background: transparent;
    color: white;
    font-size: 27px;
    border-radius: 15px;
}
#sidebar2Button {
    position: absolute;
    width: 40px;
    height: 100px;
    left: 0px;
    top: 50%;
    padding: 10px;

    background: rgb(41, 47, 52);
    opacity: 0.9;
    color: white;
    font-size: 27px;
    border-radius: 15px;

    display: flex;
    align-items: center;
    cursor: pointer;
}

#sidebar2Menu {
    position: absolute;
    width: 200px;
    height: 100%;
    left: 50px;

    background: rgb(41, 47, 52);

    box-sizing: border-box;
    border-right: 1px solid gray;

    opacity: 0.9;
}

#sidebar2SNS {
    position: absolute;
    width: 200px;
    height: 100%;
    left: 250px;
    opacity: 0.8;
}

#sidebar2Menu #sidebar2MenuTitle{
    margin: 10px 10px 30px 10px;
    font-size: 25px;
}

.sidebar2Elem {
    position: relative;
    /* background-color: rgba(0,0,0,0.6); */
    background: transparent;
    width: 170px;
    margin: 0px 10px 10px 20px;
    cursor: pointer;
    font-size: 20px;

    box-sizing: border-box;
    border-bottom: 10px solid black;
}

#sidebar2Contacts {
    position: absolute;
    background: transparent;
    display: flex;
    height: 50px;
    width: 100%;

    bottom: 0px;
    justify-content: space-around;
}

.sidebar2ContactEl a:link, .sidebar2ContactEl a:visited {
    position: relative;
    height: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    color: white;
}

#nextStageMiniContainer {
    position: absolute;
    bottom: 60px;
    height: 80px;
    width: 180px;
    font-size: 14px;
    margin: 10px;
    box-sizing: border-box;
}

#nextStageInfoEllipsis {
    position: absolute;
    left: 20px;
    width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

span#nextStageInfoLinker {
    position: absolute;
    bottom: 0px;
    right: 10px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
}