#stagesContainer{
    width: 100%;
    height: 100%;
    position: relative;

    background: rgb(185,210,229); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(185,210,229,1) 0%, rgba(104,165,214,1) 60%, rgba(68,141,201,1) 85%, rgba(56,101,153,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(185,210,229,1) 0%,rgba(104,165,214,1) 60%,rgba(68,141,201,1) 85%,rgba(56,101,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(185,210,229,1) 0%,rgba(104,165,214,1) 60%,rgba(68,141,201,1) 85%,rgba(56,101,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9d2e5', endColorstr='#386599',GradientType=0 ); /* IE6-9 */
}

#stagesContainer canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#stagesContainer h1{
    position: relative;
    background-color: transparent;
    margin: 0;
    padding: 0;

    left: 10%;
    top: 7%;
    width: 80%;
    height: 5%;
}

#stagesContainer #stagesShowContainer{
    position: relative;
    /* background-color: white; */
    margin: 0;
    padding: 0;

    left: 10%;
    top: 10%;
    width: 80%;
    height: 75%;

    display: flex;
}

#stagesContainer #stagesShowContainer #stagesShowTabContainer{
    position: relative;
    /* background-color: rgb(218, 218, 218); */

    width: 20%;
    height: 100%;
    z-index: 100;

    overflow: scroll;
}

#stagesShowTabContainer input + label{
    width: 100%;
    height: 3em;
    text-align: center;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;

    margin: 0 0% 1em 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#stagesShowTabContainer input:checked + label{
    background-color: white;
}

#stagesContainer #stagesShowContainer #stagesShowMainContainer{
    /* background-color: white; */
    flex-grow: 9;

    left: 20%;
    width: 80%;
    height: 100%;
    margin: 0;

    z-index: 100;
    overflow: hidden;
    position: absolute;
}

#stagesShowMainContainer .flexslider{
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
}

#stagesShowMainContainer .flexslider .slides{
    height: 100%;
}

#stagesShowMainContainer .flexslider .flex-viewport{
    position: relative;
    width: 100%;
    height: 100%;
}

#stagesShowMainContainer .stagesThumbnailContainer{
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 40px 10px;
}

.stagesTopBar{
    position: absolute;
    width: 100%;
    background-color: white;
}

.stagesTopBar i{
    cursor: pointer;
    font-size: 2em;
}

#stagesShowMainContainer .stagesThumbnailContainer .stageThumbnail{
    width: 150px;
    height: 150px;
    border-radius: 40px;
    margin: 15px;
    box-sizing: border-box;
    cursor: pointer;
    color: white;

    background-color: white;
    text-align: center;
    Vertical-align: bottom;
    overflow: hidden;
}

.stageThumbnail .stageThumbnailImg{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.stageThumbnail .stageThumbnailTitle{
    position: absolute;
    top: 100px;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    vertical-align: top;
}

li#stagesSlides3{
    width: 100%;
    height: 100%;
}

#stagesShowMainTopBar{
    position: relative;
    width: 100%;
    height: 2em;
    text-align: center;
    vertical-align: bottom;

    background-color: white;
    box-sizing: border-box;
}

#stagesShowMainTopBar #stagesShowReturnButton i{
    position: relative;
    width: 2em;
}

#stagesShowMainTopBar i{
    position: absolute;
    left: 10px;
    font-size: 2em;
    cursor: pointer;
}

/* stages post style */
#stagesShowMainContent{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#stagesShowMainContent .stagePostContainer{
    position: absolute;
    padding: 3%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.stagePostContainer .stagePostMediaContainer{
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
}

.stagePostContainer .stagePostMediaContainer iframe{
    position: relative;
    width: 60%;
    max-width: 450px;
    height: 100%;
    max-height: 250px;
}

.stagePostMediaContainer .stagePostImgContainer {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stagePostMediaContainer .stagePostImgContainer img{
    position: relative;
    height: 50%;
    object-fit: contain;
    margin: 1%;
    box-sizing: border-box;
}

.stagePostContainer .descContainer {
    background-color: rgba(255, 255, 255, 0.3);
    height: 35%;
}