#topPage{
    width: 100%;
    height: 100%;

    position: relative;
}

#initLogoContainer{
    width: 100%;
    height: 100%;
    background-color: black;

    top: 0px;
    left: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#initLogoContainer img{
    width: 50%;
}

#initTitle{
    position: absolute;
    color: white;
    margin-bottom: 0;
    /* padding-left: 50px;
    padding-top: 100px; */

    left: 100px;
    bottom: 30px;
}

#initTitle h1, #initTitle h3{
    margin: 0;
}

.twitterWidget {
    position: absolute;
    right: 30px;
    top: 10px;
}