#topPage{
    width: 100%;
    height: 100%;
}

#initLogo{
    width: 100%;
    height: 100%;
    background-color: black;

    top: 0px;
    left: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#initLogo img{
    width: 50%;
}

#initTitle{
    color: white;
    margin-bottom: 0;
    padding-left: 50px;
    padding-top: 100px;
}

#initTitle h1, #initTitle h3{
    margin: 0;
}

.scrollerTop{
    position: absolute;

    left: 50%;
    top: 3%;
    /* think this will be get rid of after implementing scroll related features */
}

.scrollerBottom{
    position: absolute;

    left: 50%;
    top: 90%;
}

.scrollerTop a i, .scrollerBottom a i{
    font-size: 3em;
    padding-bottom: 0.5em;
    color: white;

    cursor: pointer;
}