#topPage{
    width: 100%;
    height: 100%;

    position: relative;
}

#initLogoContainer{
    width: 100%;
    height: 100%;
    background-color: black;

    top: 0px;
    left: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#initLogoContainer img{
    width: 50%;
}

#topLogo{
    position: absolute;
    margin: 5px;
    width: 300px;

    left: 30px;
    bottom: 30px;
}

#topPageDownArrow{
    position: absolute;
    bottom: 0px;
    left: 43%;
    width: 14%;
    height: 100px;
    font-size: 3em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}