html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}

main{
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;

    /* background-image: url('images/main/bg1.jpg'); */
	background-attachment: fixed;
	background-size: cover;
	background-repeat: none;
    background-position: center;
}

#pinContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

#slideContainer {
    width: 100%;
    height: 300%;
}

.panel{
    position: relative;
    height: 33.333%;
    width: 100%;
    float: left;

    overflow: scroll;

    border-color: black;
    border: solid;
    box-sizing: border-box;
}